#all{
    height: 100vh;
}

#mynav{
    height: 10vh;
    background-color: rgb(41, 39, 39);;
}
.mytitle{
    font-size: 30px;
    color: white;
    margin-top: 10px;
}
.mytitle:hover{
    text-decoration: none;
    color: white;
}

#mysidebar{
    height: 90vh;
    font-size: 20px;
    width: 70px;
    background-color: rgb(41, 39, 39);
    
}

#mysidebar a{
    color: rgb(148, 145, 145);
}

#mysidebar .nav-item{
    padding-top: 20px;
    padding-left: 10px;
}